@model Blog


<div class="container my-5 ">

   

    <form class="forms-sampl" asp-action="Edit" method="post" enctype="multipart/form-data" >
        
        <span>Image</span>
        <label class="form-label" for="customFile"></label>
        <input  class="form-control" id="customFile" asp-for="Photo" />
        <span class="text-danger" asp-validation-for="Photo"></span>
     
        
        
        <input type="text" class="form-control" id="customFile" asp-for="Description" />
         <span class="text-danger" asp-validation-for="Description"></span>
         
         
         <input type="text" class="form-control" id="customFile" asp-for="Date" />
         <span class="text-danger" asp-validation-for="Date"></span>

      <div class="buttons my-3">

     <button type="submit" class="btn btn-primary mr-2">Submit</button>
     <a class="btn btn-light" asp-action="Index">Cancel</a>
      </div>

    </form>


</div>

